@media(max-width:620px){
    
   .header-tittle{
    font-size: 20px;
   }

   .header-tittle strong{
     font-size: 30px;
   }
}

@media(max-width:400px){
    .header-tittle{
        font-size: 15px;
    }

    .header-tittle strong{
        font-size: 25px;
    }
}