:root{
    --black:#171718;
    --black-border:#26292d;
    --white:#fff;
    --purple:#5C62EC;


    --dark-bg:var(--black);
    --dark-border:var(--black-border);
    --header-text:var(--white);
    --accent:var(--purple);

    /* light mode */

    --page-bg:var(--white);
    --text-color:var(--black);
    --tittle-1:var(var(--purple))
}